body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header,footer {
  flex: 0 1 auto;
}

main {
  padding-top: 5rem;
  flex: 1 1 auto;
}

.jumbotron {
  margin-top: -5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn-primary {
  background-color: var(--purple) !important;
  border-color: var(--purple) !important;
}

.btn-primary:hover {
  background-color: var(--purple-light) !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--purple-opaque);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--purple-opaque);
}

.skewd {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    left: 0;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 105px;
    height: 24vh;
    box-sizing: border-box;
    margin-top: -5px;
    padding: 0px 0px 0px;
    overflow: hidden;
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
    overflow: hidden;
}
@media (min-width: 576px) {
  .skewd {
    height: 10vh;
  }
}

.z-index-1 {
  z-index: 1;
}

button:focus {
  border-color: var(--gray-dark);
  box-shadow: 0 0 0 0.2rem rgba(105, 105, 105, 0.25);
  outline-color: var(--gray);
}

section.jumbotron {
  background: url('../images/jumbotron_bg.jpg') no-repeat center center;
  background-size: cover;
}

a {
  color: var(--gray);
}

a:hover {
  color: var(--gray-dark);
}

/* FORM */

.form-control:focus {
  border-color: var(--gray-dark);
  box-shadow: 0 0 0 0.2rem rgba(105, 105, 105, 0.25);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: var(--gray-dark);
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(105, 105, 105, 0.25);;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
  color: #fff;
  background-color: var(--gray);
  border-color: var(--gray);
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: var(--gray-dark);
  background-color: var(--gray-dark);
}

.upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor:pointer;
}

.upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile-2 + label {
  background-color: var(--purple);
  color: #fff;
  border-radius: 0px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inputfile + label {
  max-width: 80%;
  font-size: 16px;
  font-weight: normal !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 8px 1.25rem;
  border-radius: 5px;
  border: 1px solid var(--purple);
}

.inputfile-2.is-invalid + label {
  background-color: var(--red);
}

.inputfile.is-invalid + label {
  border: 1px solid var(--red);
}

.inputfile + label:hover, .inputfile + label:active, .inputfile + label.hover {
  background-color: var(--purple-light);
  color: #fff;
}

.inputfile.is-invalid + label:hover, .inputfile.is-invalid + label:active, .inputfile.is-invalid + label.hover {
  background-color: var(--red);
  color: #fff;
}

.inputfile + label > i {
margin-right: 5px;
font-size: 16px;
}

/* HOME */

.card {
  overflow:hidden;
  transition: box-shadow .3s ease-in-out;
  -webkit-transition: box-shadow .3s ease-in-out;
  -o-transition: box-shadow .3s ease-in-out;
  -moz-transition: box-shadow .3s ease-in-out;
}

/* Gray Scale */
.card img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.card:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

.card:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
